/* style.css
    font                Roboto
    drk bckgrnd color   #1F2937
    hero main text      48px #F9FAF8 weight: 900
    hero 2nd text       18px #E5E7EB
    hero logo text      24px #F9FAF8
    button color        #3882F6
    info hdr text       36px #1F2937 weight: 900
    quote sctn bckgrnd  #E5E7EB
    quote text          36px #1F2937 weight: 300
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.header,
.subheader,
.footer {
    color: #F9FAF8;
    background-color: #1F2937;
    display: flex;
    /* min-width: 100vh; */
}

.header {
    height: 50px;
    padding-left: 100px;
    justify-content: space-between;
    align-content: space-between;
    font-size: 12px;
}

.subheader {
    height: 600px;
    padding-left: 30px;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.hero-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    max-width: 300px;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
    max-width: 300px;
    font-weight: 100;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 700;
    border-style: none;
    border-radius: 5px;
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

.call-button {
    font-size: small;
    border: 1px solid;
    border-color: #E5E7EB;
    padding: 8px;
    max-width: 100px;
    max-height: 40px;
    flex-shrink: 0;
}

.hero-image {
    height: 240px;
    width: 480px;
    border: #000000;
    border-radius: 2px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.header-links {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
}

ul,
a {
    text-decoration: none;
    list-style-type: none;
    /* font-size: 18px; */
    color: #E5E7EB;
}

.torso {
    width: auto;
    height: 400px;
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.deck {
    display: flex;
    gap: 30px;

}

.info-block {
    color: #1F2937;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 150px;
}

.info-card {
    height: 150px;
    width: 150px;
    border: 2px solid;
    border-color: #3882F6;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.quote-section {
    background-color: #E5E7EB;
    height: 500px;
    /* width: 100vh; */
    width: 100vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 0;
}

.inspiring-quote {
    width: 600px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    display: flex;
}

.inspiring-quote#kanye {
    align-self: flex-end;
    font-size: 24px;
}

.call {
    width: 100vh;
    height: 250px;
    width: auto;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.call-box {
    width: 700px;
    height: 80px;
    border-radius: 10px;
    /* border: 1px groove #1F2937; */
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 20px;
}

.footer {
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}